<%- include('partials/header'); %>

<!-- Content
================================================== -->
<div class="s-content">

    <div class="row">

        <div id="main" class="s-content__main large-8 column">

        <%    posts.forEach(function(post) { %>



            <article class="entry">

                <header class="entry__header">

                    <h2 class="entry__title h1">
                        <a href="/blog/<%-post._id%>" title=""><%-post.title%></a>
                    </h2>

                    <div class="entry__meta">
                        <ul>
                            <li><%-post.date%></li>
                        </ul>
                    </div>

                </header>

                <div class="entry__content">
                    <p>
                    <%-post.text.slice(0, 300)%>
                     ...
                    </p>
                </div>

            </article> <!-- end entry -->
        <%    }) %>

<%- include('partials/sidebar'); %>
<%- include('partials/footer'); %>
